*,
*:before,
*:after {
	box-sizing: border-box;
}


.header {
	position: absolute;
	width: 100%;
	top: 0px;
}


.menu {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}


.logo {
	width: 86px;
	color: #ffffff;
	font-family: Montserrat;
	font-size: 30px;
	font-weight: 700;
	text-decoration: none;
	margin-right: 230px;

}

.main_nav {
	margin-right: 200px;
}

.menu_btn {
	color: #ffffff		;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 200px;
	margin-left: 30px;
	margin-right: 20px; 
}

.baner {
	max-height: 100vh;
	background-size: cover; 
	position: relative;
	z-index: -2;
}

.baner:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
}

.welcome {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.crt h3 {
	margin-top: 190px;
	color: #ffffff;
	font-family: "Kaushan Script";
	font-size: 72px;
	font-weight: 400;
}

.greetings h2 {
	position: relative;
	top: -60px;
	width: 802px;
	color: #ffffff;
	font-family: Montserrat;
	font-size: 150px;
	font-weight: 700;
	line-height: 140px;
	text-transform: uppercase;
	margin-top: 0;
	text-align: right;		

}

.greetings:after {
	content: '';
	width: 60px;
	height: 3px;
	background-color: #ffffff;
	position: absolute;
	top: 590px;
	left: 730px;
}

.knowledge {
	margin-top: -120px;
	width: 160px;
	height: 40px;
	border: 3px solid #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
}

.welcome a {
	width: 95px;
	color: #ffffff;
    font-family: Montserrat;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}

.partners {
	max-width: 100%;	
	margin: 120px 150px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.we_work {
	color: #333333;
	font-family: "Kaushan Script";
	font-size: 24px;
	font-weight: 400;
	white-space: nowrap;
	margin-top: -30px;
}

.amazing {
	position: relative;
	color: #333333;
	font-family: Montserrat;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	white-space: nowrap;
	margin-top: -55px;
}

.amazing:after {
	content: '';
	width: 60px;
	height: 3px;
	background-color: #f38181;
	position: absolute;
	top: 110px;
	left: 95px;
}

.services-1 {
    margin: 100px 200px;
    display: flex;
}

.services-2 {
	position: relative;
    display: flex;
    margin: 0 200px 100px; 
}

.services__item {
    flex: 1 1 0;
    padding-left: 85px;
    padding-right: 35px;
    position: relative;
}

.services__icon {
    position: absolute;
    top: 0;
    left: 28px;
    z-index: 1;
}

.services__title {
    margin-top: -4px; 
   color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.services__text {
    margin-top: 10px; 
   color: #999999;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.services-2:before {
    content: '';
    position: absolute;
    width: 1100px;
    height: 1px;
    background-color: #e5e5e5;
    top: -50px;

}

.info {
	display: flex;
	background-color: #95e1d3;
	width: 100%;
    margin: 0 auto;
    font-family: Montserrat;
	font-weight: 400;
}


.info {
	width: 100%;
	background-color: #95e1d3;
	display: flex;
	justify-content: center;
}

.number-card {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-left: 30px;
	padding-right: 30px;
}

.number {
	color: #ffffff;
	font-family: Montserrat;
	font-size: 72px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: -50px;
}

.number-meaning {
	color: #ffffff;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: -100px;
	margin-bottom: 50px;

}

.number-card:before {
	content: '';
	width: 1px;
	height:302.55px;
	background-color: #ffffff;
	opacity: 0.3;
	position: absolute;
	left: 0;
}

.number-card:nth-of-type(5):after {
	content: '';
	width: 1px;
	height:302.55px;
	background-color: #ffffff;
	opacity: 0.3;
	position: absolute;
	left: 233.68px;
}


.team {
	min-width: 100%;	
	margin: 50px 150px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;	
}

.who {
	color: #333333;
	font-family: "Kaushan Script";
	font-size: 24px;
	font-weight: 400;
}

.meet {
	position: relative;
	color: #333333;
	font-family: Montserrat;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: -50px;
}

.meet:after {
	content: '';
	width: 60px;
	height: 3px;
	background-color: #f38181;
	position: absolute;
	top: 90px;
	left: 80px;
}

.photographers {
	width: 954px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
}

.photos-of-team {
	min-width: 100%;
	margin: 100px 0; 
	padding: 0px 130px;
	display: flex;
	flex-direction: row;
	text-align: center; 
	justify-content: space-around;
	
}


.team-card {
    position: relative;
    background-color: #95e1d3;
}

.team-card:hover .photo {
    transform: translate3d(-10px, -10px, 0);
}

.team-card:hover .photo img {
    opacity: 0.1;
}

.card__inner:hover .card__text {
    opacity: 1;
}

.photo {
  	background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);

    transition: transform .2s linear;
}

.photo img {
    display: block;
    transition: opacity .1s linear;
}

.card__text {
    width: 100%;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}

.social {
	display: flex;
	justify-content: center;
}

.social_item {
	width: 55px;
	height: 55px;
	padding: 12px 10px;
	background-color: #fce38a;
	border-right: 1px solid #f38181;
	font-size: 30px;
	text-decoration: none;
	color: #f38181; 
	line-height: 1;
	transition: background 0.1s linear, color 0.1s linear;
}

.name {
	color: #333333;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

.post {
	color: #999999;
	font-family: "Roboto - Light Italic";
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
}



.marks {
	min-width: 100%;
	background-color: #f8f8f8;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.partner-logo {
	margin-top: 50px;
	margin-bottom: 50px; 
}

.partner-logo:first-of-type {
	margin-left: 150px;
}

.partner-logo:last-of-type {
	margin-right: 150px;
}

.target {
	max-width: 100%;	
	margin: 50px 150px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;	
}

.what {
	color: #333333;
	font-family: "Kaushan Script";
	font-size: 24px;
	font-weight: 400;
}

.some {
	position: relative;
	color: #333333;
	font-family: Montserrat;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: -50px;
}

.some:after {
	content: '';
	width: 60px;
	height: 3px;
	background-color: #f38181;
	position: absolute;
	top: 90px;
	left: 108px;
}

.describe {
	width: 954px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
}

.works {
	margin: 50px 0 50px;
	width: 100%;
    display: flex;
}

.works__col {
    flex: 1 1 0;
}

.works__item {
    position: relative;
    background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
}

.works__item:hover .works__image {
    opacity: 0.1;
}

.works__item:hover .works__info {
    opacity: 1;
}

.works__image {
    display: block;
    max-width: 100%;
    height: auto;
	transition: opacity .2s linear;
}

.works__info {
    width: 100%;
    padding: 0 15px;
    text-align: center;
    color: #fff;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transition: opacity .2s linear;
}

.works__title {
    margin-bottom: 5px;
    color: #ffffff;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

.works__text {
    color: #ffffff;
	font-family: "Roboto - Light Italic";
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
}

.wise {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 100px 300px 100px;
}

.quote {
	padding-left: 30px;
	padding-top: 0px;
}

.quote p {
	
	color: #999999;
	font-family: "Roboto - Light Italic";
	font-size: 18px;
	font-weight: 400;
	line-height: 36px;
}

.quote cite {
	position: relative;
	color: #333333;
	font-family: "Kaushan Script";
	font-size: 24px;
	font-weight: 400;
	padding-left: 80px;
}

cite:before {
	content: '';
	width: 60px;
	height: 3px;
	background-color: #f38181;
	position: absolute;
	top: 17px;
	left: 7px;
}

.landscape {
	position: relative;
	min-width: 100%;
	height: 830px;
	z-index: -2;

}
.landscape:after {
	content: '';
  	position: absolute;
  	top: 0;
 	left: 0;
  	bottom: 0;
 	right: 0;
  	z-index: -1;
  	background-color: rgba(255, 255, 255, 0.85);
}

.opinion {
	margin-top: 100px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column; 
	align-items: center;
}
.happy {
	color: #333333;
	font-family: "Kaushan Script";
	font-size: 24px;
	font-weight: 400;
}

.say {
	position: relative;
	color: #333333;
	font-family: Montserrat;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.say:after {
	content: '';
  	position: absolute;
  	width: 60px;
	height: 3px;
	background-color: #f38181;
	top: 70px;
	left: 115px;
}

.about-client {
	padding-left: 30px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.client-base {
	margin: 100px 200px 100px 200px;
	display: flex;
	align-content: center;
	flex-wrap: wrap;
}

.client-base .post {
	position: relative;
	color: #333333;

}

.client-base .post:after {
	content: '';
  	position: absolute;
  	width: 60px;
	height: 3px;
	background-color: #f38181;
	top: 40px;
	left: 0px;
}

.text {
	margin-top: 20px;
	color: #999999;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
}

.client {
	margin-top: 50px; 
	width: calc(50%);
	display: flex;
}

.more-info {
	margin-top: 50px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column; 
	align-items: center;
}

.story {
	color: #333333;
	font-family: "Kaushan Script";
	font-size: 24px;
	font-weight: 400;
}

.blog {
	position: relative;
	margin-top: -60px;
	color: #333333;
	font-family: Montserrat;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.blog:after {
	content: '';
  	position: absolute;
  	width: 60px;
	height: 3px;
	background-color: #f38181;
	top: 100px;
	left: 60px;
}

.blog-1 {
	margin: 100px 200px;
    display: flex;
    justify-content: space-between;
}

.blog__item {
    width: 31%;
}

.blog__header {
    position: relative;
    margin-bottom: 14px;
}

.blog__photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.blog__date {
    padding: 10px 20px;

    background-color: #95e1d3;

    font-style: italic;
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    text-align: center;

    position: absolute;
    bottom: 10px;
    left: -10px;
    z-index: 1;
}

.blog__date-day {
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
    font-style: normal;
}

.blog__content {
    margin-bottom: 14px;
}

.blog__title {
    margin-bottom: 10px;

    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.blog__title a {
    color: inherit;
    text-decoration: none;
}

.blog__title a:hover {
    text-decoration: underline;
}

.blog__text {
    font-size: 15px;
    color: #999;
}

.blog__footer {
    padding-top: 14px;
    border-top: 1px solid #e5e5e5;

    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #999;
}

.blog-stat__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.blog-stat__item i {
    color: #95e1d3;
}

.footer {
	padding: 100px	200px;
	width: 100%;
	height: 560px;
	background-color: #f8f8f8;
	display: flex;
	flex-direction: row;
}

.info-about-mogo {
	width: 480px;
}

.mogo {
	color: #cccccc;
	font-family: Montserrat;
	font-size: 46px;
	font-weight: 700;
}

.mogo-about {
	margin-top: 30px; 
	color: #999999;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
}

.followers {
	margin-top: 30px; 
	width: 96px;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between; 
}

.number-of-followers {
	color: #333333;
	font-family: "Montserrat";
	font-size: 18px;
	font-weight: 700;
}

.text-followers {
	position: relative;
	font-family: "Montserrat";
	font-size: 14px;
	font-weight: 400;
}

.text-followers:after {
	content: '';
  	position: absolute;
  	width: 480px;
	height: 1px;
	background-color: #e5e5e5;
	top: 30px;
	left: -35px;
}

.icons-bar {
	margin-top: 30px; 
	width: 330px;
	display: flex;
	flex-direction: row;
	
}

.follow-us {
	color: #999999;
	font-family: "Roboto - Light Italic";
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
}

.social-icon a{
	margin-left: 15px; 
}

.subscribe {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.info-about-mogo input {
	padding-left: 15px;
	width: 230px;
	height: 40px;
	border: 1px solid #e7e7e7;
	background-color: #ffffff;
}

.info-about-mogo p { 
	font-family: "Roboto - Light Italic";
	color: #cccccc;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
}

.subscribe-btn {
	width: 150px;
	height: 40px;
	background-color: #95e1d3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.recently-blog {
	width: 380px;
	margin-left: 40px; 
}

.blog-text {
	margin-top: 15px;
	color: #333333;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

.blog-item {
	margin-top: 30px; 
	display: flex;
	align-items: center;
}


.recently-blog-text {
	padding-left: 15px;
	color: #333333;
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
}

.recently-blog-date {
	padding-left: 15px;
	color: #999999;
	font-family: "Roboto - Light Italic";
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
}

.insta-blog {
	position: relative;
	width: 300px;
	margin-left: 40px; 
}

.instagram-text {
	margin-top: 15px;
	color: #333333;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

.insta-photo-blog {
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.insta-item {
	width: 32.33333%;
}


.more-photo {
	margin-top: 14px;
	color: #333333;
	font-family: "Roboto - Light Italic";
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
}

.insta-blog:after {
	content: '';
	position: absolute;
	width: 1100px;
	height: 1px;
	background-color: #e5e5e5;
	top: 410px;
	left: -830px;
}

.copyright {
	display: flex;
	align-items: center;
	margin-top: -45px; 
	color: #333333;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
}

.copyright p {
	margin-left: 3px; 
	color: #f38181;
}

